<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4-->
    <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">

    <!-- Customs CSS -->
    <link rel="stylesheet" href="/public/css/styles.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


    <title>imgShare</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="/public/img/imgshare-logo.png" alt="">
            </a>
        </div>
    </nav>
    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="/public/js/scripts.js">

    </script>
</body>


</html>